.nav .mobile_toggle {
    display:none;
}
#logo .mobile_toggle {
    display:none;
    position:absolute;
    top:10px;
    right:30px;
}
#logo .mobile_toggle:after {
    content:'';
    display:block;
    width:100%;
    height:1px;
    background:#000000;
    position:relative;
    bottom:-8px;
    -webkit-transition:background .2s linear;
    -moz-transition:background .2s linear;
    transition:background .2s linear;
}
#logo .mobile_toggle:hover:after {
    background:#ffffff;
}

.show_on_mobile { display:none!important; }

@media only screen and (max-width: 1024px) {

    #overlay.homepage { background-size:auto 30px!important; }
    #logo { width:150px!important; }
    #main { padding-left:150px!important; }
    .nav li:first-child { margin-right:50px; }

    .page.about .section .padded { padding:50px 8%; }
    .page.about .show_on_mobile { display:block!important; }
    .page.about .hide_on_mobile { display:none!important; }
    .page.about .cols { margin-right:0; }
    .page.about .cols .col.one_half { width:100%; float:none; padding:0; margin-bottom:0; }

}

@media only screen and (max-width: 768px) {

    #logo { position:relative; width:100%!important; height:auto; top:auto; left:auto; margin-top:50px; }
    #logo .table { height:auto; position:relative; top:auto; left:auto; padding:0 60px; }
    #logo  .table .row { display:table-cell; }
    #logo .table .cell { display:inline-block; height:auto; position:relative; vertical-align:middle!important; padding:0!important; }
    #logo .table .row:first-child .cell { text-align:left; }
    #logo .table .row:last-child .cell { text-align:right; }
    #main { padding:50px 60px 60px!important; }
    p.large { max-width:none; font-size:24px; line-height:38px; }
    .cols { margin-right:0; }
    .cols .col { float:none; padding-right:0; width:100%!important; margin-bottom:36px; }
    .nav ul { display:none; }
    .nav .mobile_toggle { display:inline-block; }
    .nav a { opacity:1; }
    .nav a:after { content:''; display:block; width:100%; height:1px; background:#000000; position:relative; bottom:-16px; -webkit-transition:background .2s linear; -moz-transition:background .2s linear; transition:background .2s linear; }
    .nav a:hover:after { background:#ffffff; }
    .masonry .grid-sizer,
    .masonry .grid-item { width:100%!important; float:none!important; position:relative!important; left:auto!important; top:auto!important; }
    .toggle_view,
    .back_to_top { display:none!important; }
    .footer .floatleft,
    .footer .floatright { width:100%; float:none; }

    #super_overlay { font-size:40px!important; }

    #main > .nav .logo{max-width: 210px;}

}

@media only screen and (max-width: 480px) {

    #overlay.homepage { background-size:auto 20px!important; }
    #logo { margin-top:30px; }
    #logo .table { width:auto; padding:0 0 0 30px; }
    #logo .table .cell { font-size:38px; }
    #logo .mobile_toggle { display:inline-block; }
    #main { padding:50px 30px 30px!important; }
    .nav .floatleft { max-width:240px; }
    /*.nav .floatright { display:none; }*/
    p.large { max-width:none; font-size:20px; line-height:1.5; }
    .masonry { margin:0; }
    .masonry.single { display:none; }
    .masonry .grid-item { padding:0; margin-bottom:40px; }
    .masonry .grid-item .caption span { display:inline; left:0; opacity:0.4; }
    .project { display:block!important; }
    .project .row { margin-bottom:30px; }
    .footer a { white-space:initial; word-break:break-word; }

    #super_overlay { font-size:30px!important; }

}