/*
Theme Name: One and Other
Theme URI: http://oneandother.com
Author: One and Other
Author URI: http://oneandother.com/
Description: Wordpress theme by One and Other.
Version: 1.0
*/

/*

Fonts.com: Acta Book (300) - font-family:'Acta W01';
Typekit: Acta Display (400) - font-family:"acta-display", serif;

*/

.wf-loading {
    visibility:hidden;
}
.wf-active,
.wf-inactive {
    visibility:visible;
}
* {
    margin:0;
    padding:0;
}
::-moz-selection {
    color:#000000;
    background:#DFE6ED;
}
::selection {
    color:#000000;
    background:#DFE6ED;
}
html {
    -webkit-text-size-adjust:none; /* prevent font scaling in landscape */
    -webkit-font-smoothing:antialiased; /* prevent heavy font rendering */
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html, body {
    margin:0;
    padding:0;
}
body {
    font-family:'Acta W01', serif;
    font-weight:300;
    font-size:17px;
    letter-spacing:0.01em;
    color:#000000;
}
body.locked {
    position:fixed;
    width:100%;
    height:100%;
    overflow:hidden;
}
div {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
img {
    display:block;
    max-width:100%;
    height:auto;
}
a img  {
    outline:none;
    border:none;
}
a, a:link, a:visited, a:focus, a:active {
    text-decoration:none;
    outline:none;
    border:none;
    cursor:pointer;
    color:#000000;
}
p {
    margin-bottom:16px;
    font-size:16px;
    line-height:26px;
}
p.large {
    font-family:"acta-display", serif;
    font-weight:400;
    margin-bottom:36px;
    font-size:28px;
    line-height:42px;
}
p.lessmarg {
    margin-bottom:20px;
}
p.nomarg {
    margin-bottom:0;
}
p a {
    opacity:0.5;
    -webkit-transition:opacity .2s linear;
    -moz-transition:opacity .2s linear;
    transition:opacity .2s linear;
}
p a:hover {
    opacity:1;
}
h1, h2, h3, h4, h5, h6 {
    font-size:26px;
    line-height:42px;
    text-transform:uppercase;
    font-weight:300;
    margin-bottom:20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrapper {
    max-width:1200px;
    padding:0 60px;
    margin:0 auto;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.uppercase {
    text-transform:uppercase;
}
.centertext {
    text-align:center;
}
.centertext img {
    display:inline-block;
}
.table {
    display:table;
    table-layout:fixed;
    width:100%;
    height:100%;
}
.table .row {
    display:table-row;
}
.table .cell {
    display:table-cell;
    vertical-align:middle;
}

/* cols */
.cols:before,
.cols:after {
    content:" ";
    display:table;
}
.cols:after {
    clear:both;
}
.cols {
    *zoom:1;
    margin-right:-70px;
}
.cols .col {
    float:left;
    padding-right:70px;
}
.cols .one_half {
    width:50%;
}
.cols .one_third {
    width:33.3333%;
}
.cols .quarter {
    width:25%;
}

/* overlays */
#super_overlay {
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -ms-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
#super_overlay.preload {
    background-color:#ffffff!important;
}
#super_overlay .table .cell span {
    display:none;
}

/* logo */
#logo {
    /*width:200px;*/
    width:14%; /* maia new */
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:#ffffff;
    z-index:999999;
}
#logo .table {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#logo .table .cell {
    font-family:"acta-display", serif;
    font-weight:400;
    width:100%;
    height:33.333%;
    position:relative;
    font-size:48px;
}
#logo .table .row:first-child .cell {
    padding-top:70px;
    vertical-align:top;
}
#logo .table .row:last-child .cell {
    padding-bottom:70px;
    vertical-align:bottom;
}

/* main */
#main {
    max-width:1735px; /* so max project image width will be 1440 */
    /*padding:70px 95px 70px 200px;*/
    padding:70px 5% 70px 5%; /* new maia */
    overflow-x:hidden;
}

/* nav transition */
.nav.moved {
    -webkit-transition:all 1s cubic-bezier(.55,.085,0,.99);
    -webkit-transform:translateY(0);
    transform:translateY(0);
    transition:all 1s cubic-bezier(.55,.085,0,.99);
}
.nav {
    position:relative;
    transform:translateZ(1px);
    -webkit-transform:translateZ(1px);
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
    transition:all 1s cubic-bezier(.55,.085,0,.99);
}

/* nav */
.nav {
    margin-bottom:65px;
    line-height:26px;
}
.nav ul {
    list-style:none;
}
.nav li {
    display:block;
    float:left;
}
.nav li:first-child {
    margin-right:150px;
}
.nav a {
    display:inline-block;
    opacity:0.5;
    -webkit-transition:opacity .2s linear;
    -moz-transition:opacity .2s linear;
    transition:opacity .2s linear;
}
.nav li a:hover,
.nav li.current_page_item a,
.nav li.current_page_ancestor a {
    opacity:1;
}
.nav li.current_page_item a:after,
.nav li.current_page_ancestor a:after {
    content:'';
    display:block;
    width:100%;
    height:1px;
    background:#000000;
    position:relative;
    bottom:-16px;
}

/* subnav */
.nav li ul {
    padding-top:32px;
    height:0;
    overflow:hidden;
    -webkit-transition:height 0.2s linear;
    -moz-transition:height 0.2s linear;
    transition:height 0.2s linear;
}
.nav .floatright:hover li ul {
    height:105px;
}
.nav li ul li {
    display:block;
    float:none;
}
.nav li ul li:first-child {
    margin-right:0;
}
.nav li.current_page_item ul li a,
.nav li.current_page_ancestor ul li a {
    opacity:0.5;
}
.nav li ul li a:hover,
.nav li.current_page_item ul li a:hover,
.nav li.current_page_ancestor ul li a:hover,
.nav li.current_page_ancestor ul li.current_page_item a {
    opacity:1;
}
.nav li.current_page_item ul li a:after,
.nav li.current_page_ancestor ul li a:after {
    display:none;
}

/* masonry */
.masonry  {
    /*margin:0 -27px;*/
    margin:0 -3%; /* new maia */
}
.masonry .grid-sizer,
.masonry .grid-item {
    width:50%;
}
.masonry .grid-item {
    /*margin-bottom:54px;*/
    margin-bottom:5%; /* new maia */
    /*padding:0 27px;*/
    padding:0 3%; /* new maia */
}
.masonry.single .grid-item {
    margin-bottom:6%; /* new maia */
}
.masonry .grid-item .pad {
    padding:8%;
    cursor:pointer;
}
.masonry .grid-item a,
.masonry .grid-item img {
    display:block;
}
.masonry .grid-item img,
.masonry .grid-item video {
    width:100%;
    height:auto;
}
.masonry .grid-item img.thumbnail,
.masonry .grid-item video.thumbnail{
    cursor:pointer!important;
}
.masonry .grid-item .caption {
    display:block;
    margin-top:16px;
    line-height:1.5;
    cursor:pointer!important;
}
.masonry .grid-item .caption span {
    display:inline-block;
    position:relative;
    left:-20px;
    opacity:0;
}
.masonry .grid-item:hover .caption span {
    -webkit-animation:slide 0.5s forwards;
    animation:slide 0.5s forwards;
}
@-webkit-keyframes slide {
    100% {
        left:0;
        opacity:0.5;
    }
}
@keyframes slide {
    100% {
        left:0;
        opacity:0.5;
    }
}

/* home images */
.masonry .grid-item .image {
    display:block;
    position:relative;
    cursor:pointer!important;
}
.masonry .grid-item .image img {
    position:relative;
    width:100%;
    height:auto;
    filter:alpha(Opacity=100);
    opacity:1;
    -webkit-transition:opacity .6s;
    -moz-transition:opacity .6s;
    -o-transition:opacity .6s;
    transition:opacity .6s;
    z-index:1;
    cursor:pointer!important;
}
.masonry .grid-item .image img.back {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}
.masonry .grid-item .image:hover img.front {
    filter:alpha(Opacity=0);
    opacity:0;
}

/* project single */
.project .row {
    margin-bottom:54px;
}
.project .row .pad {
    padding:8%;
}
.project .row img,
.project .row video {
    display:block;
    width:100%;
    height:auto;
}
.project .row .floatleft,
.project .row .floatright {
    width:50%;
}
.project .row .floatleft {
    padding-right:25px;
}
.project .row .floatright {
    padding-left:25px;
}
.project .row .text_no_image {
    max-width:800px;
    margin:0 auto;
}

/* grid view toggler */
.toggle_view {
    width:18px;
    height:18px;
    position:fixed;
    top:50%;
    margin-top:-9px;
    right:48px;
    margin-right:-9px;
    cursor:pointer;
    opacity:0.2;
    -webkit-transition:opacity .2s linear;
    -moz-transition:opacity .2s linear;
    transition:opacity .2s linear;
}
.toggle_view:hover {
    opacity:1;
}
.toggle_view.grid {
    opacity:0.2;
}
.toggle_view.grid:hover {
    opacity:1;
}
.toggle_view img {
    display:block;
}

/* back to top */
.back_to_top {
    display:none;
    width:18px;
    height:11px;
    position:fixed;
    bottom:83px;
    right:48px;
    margin-right:-9px;
    cursor:pointer;
    opacity:0.2;
    -webkit-transition:opacity .2s linear;
    -moz-transition:opacity .2s linear;
    transition:opacity .2s linear;
}
.back_to_top:hover {
    opacity:1;
}

/* page */
.page .section img {
    display:block;
    width:100%;
}
.page .section .padded {
    padding:100px 0%;
}

/* footer */
.footer {
    line-height:36px;
}
.footer a {
    white-space:nowrap;
}
.footer .floatleft,
.footer .floatright {
    width:48%;
}

/* mobile menu */
#mobile_menu {
    display:none;
    background:url(img/black-20.png) repeat;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999999;
}
#mobile_menu .inner {
    width:256px;
    height:100%;
    padding:60px 60px 0 0;
    position:absolute;
    top:0;
    right:-256px;
    background:#ffffff;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
}
#mobile_menu .inner.open {
    -webkit-animation:mobile 0.5s forwards;
    animation:mobile 0.5s forwards;
}
@-webkit-keyframes mobile {
    100% {
        right:0;
    }
}
@keyframes mobile {
    100% {
        right:0;
    }
}
#mobile_menu ul {
    list-style:none;
    text-align:right;
}
#mobile_menu li {
    margin-bottom:26px;
    line-height:26px;
}
#mobile_menu li ul li {
    margin-bottom:0;
}
#mobile_menu li ul li a {
    opacity:0.5;
}
#mobile_menu .mobile_close {
    display:block;
    width:10px;
    height:auto;
    position:absolute;
    top:68px;
    left:60px;
}

/* Contact */
#contact {
    display:none;
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:9999999;
    background-color:#DFE6ED;
    overflow-y:scroll;
}
#contact .close {
    display:block;
    width:15px;
    height:auto;
    position:absolute;
    top:46px;
    right:36px;
}
#contact .table {
    max-width:560px;
    margin:0 auto;
}
#contact .cell {
    padding:100px 30px;
}
#contact .cols {
    max-width:90%;
}
#contact .tooltip {
    text-decoration:none;
    position:relative;
}
#contact .tooltip span {
    display:none;
}
#contact .tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

.admin-bar #logo{top: 32px;}

#main > .nav .logo{display: inline-block;max-width: 380px;}

#contact div.large p{
    font-family: "acta-display", serif;
    font-weight: 400;
    margin-bottom: 36px;
    font-size: 28px;
    line-height: 42px;
}

.padded + .padded{padding-top: 0!important;}